body{
    margin: 0 auto;
    
}
 .navbar {
     padding-left: 10%;
 }

 .jumbotron {
    background-image: url(./images/portfolio-banner.jpg);
    margin: 0 -25px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20%;
}
