/* Global Styles */
body{
    margin: 0 auto;
    
}

/* Navigation */
 .navbar {
     padding-left: 10%;
 }

 /* Main Background Image */
 .jumbotron {
     margin: 0 -25px;
     background-image: url("./images/hire-full-stack-developer-banner.jpg");
     background-repeat: no-repeat;
     background-position: center;
     padding-bottom: 13%;
 }

 /* Main Picture */
 #profilePic {
    border-radius: 6%;
    width: 45%;
    border: 4px solid white;
    box-shadow: 1px 3px 11px #939393;
    margin: 0 auto;
    display: block;
    margin-top: 18%;
 }

/* Information on top of Background Image */
.display-4, .lead {
    color: white;
}

/* Front End and Back End Development Section */
.services {
    width: 84%;
    margin: 0 auto;
}

/* Biography Section */
#heading2{
    padding-top: 9%;
}

.mainContent{
    padding-bottom: 4%;
}

.mainRow{
    padding-bottom: 24px;
}

/* Front and Back End Sevelopment Sections */
.servicesText {
    padding: 18px;
}

/* Icons for section */
#frontEndImg, #backEndImg {
    height: auto;
    margin: 0 auto;
    display: block;
}

#frontEndImg{
    width:95px;
}

#backEndImg{
    width: 100px;
}

.mainServices{
    padding-top:3%;
    padding-bottom:3%;
    background-color: #f8f9fa;
}

/* Languages Section */
/* Icons */
.langIcons {
    width:75px;
}

.languages {
    padding: 5%;
}
    
/* Footer */
footer {
    padding-top: 4%;
    background-color: #0a0a0a;
    padding-bottom: 60px;
    color: white;
}

/* Social Icons */
#socialLinks {
    width: 35px;
    padding: 5px 0px 5px 0px;
    margin-left: 16px;
}

.socialList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Sitemap */

.sitemap {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 20px;
  }

.sitemapLinks{
    color: white;
}

/* Media Queries */
@media screen and (max-width:800px){
    #display-4 {
        font-size: 14px;
    }
}
  